## **Script for merging and splitting data into train, validation and test sets**

In [23]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

### **Question 1**

**Reading datasets** (2013, 2018, 2020 labeled datasets)

In [24]:
pd.set_option('display.max_colwidth', 60)

In [27]:
# WES 2013, question 1
data_2013 = pd.read_excel("../../data/WES2013 1st Qual Sample - Coded.xlsx", 
                     sheet_name='2013 1st Qual Sample',
                     skiprows=1)   ## change your path for data
data_2013.rename(columns={'_telkey':'Telkey',
                          'AQ3345_13':'Comment'}, inplace=True)
data_2013['Year'] = 2013

In [28]:
# WES 2018, question 1
data_2018 = pd.read_excel("../../data/WES2018 1st Qual Coded - Final Comments and Codes.xlsx", 
                     sheet_name='2018 1st Qual',
                     skiprows=1)   ## change your path for data
data_2018.rename(columns={'_telkey':'Telkey',
                          'Q3345_13':'Comment'}, inplace=True)
data_2018['Year'] = 2018

In [29]:
# WES 2020, question 1
data_2020 = pd.read_excel("../../data/WES2020 1st Qual Coded - Final Comments and Codes.xlsx", 
                     sheet_name='2020 1st Qual',
                     skiprows=1)
data_2020.rename(columns={'Q3345_13:   What one thing would you like your organization to focus on to improve your work environment?':'Comment'}, inplace=True)
data_2020['Year'] = 2020

**Compiling datasets**

In [31]:
# header
header_codes = pd.read_excel("../../data/WES2020 1st Qual Coded - Final Comments and Codes.xlsx", 
                          sheet_name='Codebook',
                          usecols='A,F')

# In this line I am correcting their CODE, for the subthemes of
# 11-Vision_Mission_Goals and 12-Other, because those should have 
# codes as 11.1 and not 111, to be similar to all the other 
# subthemes' format.

header_codes['CODE'] = [code/10 if code>100 else code for code in header_codes['CODE']]

# Comment: Note that all the CODEs that have XX.0 format (finish in 
# zero) are themes, and any CODE with decimals is a subtheme.

In [32]:
# header_codes

In [33]:
# Dictionaries for header (back and forward)
header_dict_VAR = {header_codes['VARIABLE NAME'][i] : header_codes['CODE'][i] for i in range(0, len(header_codes['CODE']))}
header_dict_COD = {header_codes['CODE'][i] : header_codes['VARIABLE NAME'][i] for i in range(0, len(header_codes['CODE']))}
# header_dict_COD # <-- Print this to show what the dictionary looks like it but be can erase the line

##### Comment: Note that all the CODEs that have XX.0 format (finish in zero) are themes, and any CODE with decimals is a subtheme.

In [34]:
# Correcting names to compile the databases
data_2013.rename(columns = {"Tools_Equipment_Physical_Environment":'TEPE',
    "Vision_Mission_Goals":'VMG',
    "Other":'OTH',
    "Other comments":'OTH_Other_related',
    "Positive comments": "OTH_Positive_comments"}, inplace=True)

data_2018.rename(columns = {'FWE':'FEW',
    'CPD_Improve_performance_management':'CPD_Improve_performance',
    'CB_Improve_benefits':'CB_Improve_medical',
    'Exec_Strengthen_quality_of_executive_leadership':'Exec_Strengthen_quality_of_executive_leaders',
    'FWE_Leading_Workplace_Strategies':'FWE_Improve_and_or_expand_Leading_Workplace_Strategies_LWS',
    'TEPE__Ensure_safety_and_security':'TEPE__Ensure_safety',
    'TEPE_Better_supplies_equipment':'TEPE_Provide_better_equipment',
    'TEPE_Better_furniture':'TEPE_Provide_better_furniture',
    'TEPE_Better_computer_hardware':'TEPE_Provide_better_hardware',
    'VMG_Assess_plans_priorities':'VMG_Assess_plans',
    'VMG_Improve_program_implementation':'VMG_Improve_program',
    'VMG_Public_interest_and_service_delivery':'VMG_Pay_attention_to_the_public_interest',
    'VMG_Keep_politics_out_of_work':'VMG_Remove_political_influence'
    }, inplace=True)

# Comment: the code for theme 'FEW' is different from the 
# initial part of their sub-themes ('FWE').

In [53]:
# Put databases together
frames = [data_2020, data_2018, data_2013]
data_all = pd.concat(frames)
data_all_num = data_all.rename(columns=header_dict_VAR)
# pd.set_option('display.max_colwidth', 60) # <-- to display just the beggining of the comment
data_all.head()

,Telkey,Comment,CPD,CB,EWC,Exec,FEW,SP,RE,Sup,...,VMG_Pay_attention_to_the_public_interest,VMG_Review_funding_or_budget,VMG_Remove_political_influence,VMG_other,OTH_Other_related,OTH_Positive_comments,OTH_Survey_feedback,OTH_Covid,Unrelated,Year
0,172538-522988,WAGES! We are all very underpaid. It is very dif...,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,2020
1,172540-015050,"With each ""bad"" press news story the organization knee j...",0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0.0,0.0,2020
2,172550-323842,better seating furniture and office layout,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,2020
3,172553-172324,Is to improve the ventilation system for heating and coo...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,2020
4,172553-986176,Stop hiring based on scenarios. Hire based on knowledge...,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,2020

In [56]:
data_all.shape

(31768, 78)

In [57]:
# Karan's addition for R Shiny app (note this is for all dataset)
data_all.to_excel('../../data/bcstats.xlsx',index = False)

**Basic Cleaning**

In [36]:
## dropping null rows
data_all.dropna(inplace=True)

In [37]:
data_all['Comment'].isnull().sum()

0

**Splitting data into train, test and validation portions**

In [38]:
X = data_all['Comment']
y = data_all.drop(['Telkey', 'Comment', 'Year'], axis=1)

In [39]:
X_trainvalid, X_test, y_trainvalid, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [40]:
X_train, X_valid, y_train, y_valid = train_test_split(X_trainvalid, y_trainvalid, test_size=0.20, random_state=42)

In [54]:
X_train.shape

(10376,)

In [41]:
## y_train with column names as code numbers
y_train_num = y_train.rename(columns=header_dict_VAR)

**Saving files**

In [17]:
# target datasets
y_train.to_csv('../data/y_train.csv', index=False)
y_valid.to_csv('../data/y_valid.csv', index=False)

# explanatory variable - Comments
################################################################################
### CAUTION! these lines save the COMMENTS, which have sensible information. ###
################################################################################
# X_train.to_csv('../data/X_train.csv', index=False)
# X_valid.to_csv('../data/X_valid.csv', index=False)

In [18]:
# y_train_num.to_csv('data/y_train_num.csv', index=False)

### **Question 2** - Supervised (2018 labeled dataset)

**Reading dataset** (2018)

In [87]:
# WES 2018, question 2
data_2018_2 = pd.read_excel('../../data/WES2018 2nd Qual Coded - Final Comments and Codes.xlsx', 
                     sheet_name='2018 2nd Qual Coded (All)')  ## change path for data
data_2018_2.rename(columns={'Q4981_11':'Comment'}, inplace=True)

In [88]:
data_2018_2.head()

,Telkey,Comment,# of codes,N/A,ENG,c_topdown,c_botup,c_other,c_Aware,S&W,TOOLS,A_CarDev,A_EXEC,A_SUP,A_VMG,A_REC&EMP,A_TEAM,A_SP&Jsat&Pay,Other
0,180999-599664,Supervisory development and accountability Recognition a...,7.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0
1,181577-570226,"Expectations, Communication at all levels, engagement, r...",6.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,187688-377968,"Improved morale, communication, respect, empowerment, tr...",6.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
3,173821-289382,Organization provided CYMH Clinicians with data on cell ...,5.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,174099-084198,Enhanced Courthouse Security Training - Lockdown /High R...,5.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

**Basic Cleaning**

In [89]:
## dropping last row that contains "totals"
data_2018_2.drop(data_2018_2.tail(1).index,inplace=True)

In [90]:
## dropping NaN rows
data_2018_2.dropna(inplace=True)

In [91]:
data_2018_2.shape

(6022, 19)

In [77]:
## Carlina's addition for adding ministries 

#data_2018_2 = data_2018_2.drop(columns=['# of codes'])
#data_2018_2.to_excel('../../data/bcstatsQ2.xlsx', index=False)

**Splitting into train and test**

In [9]:
X_2 = data_2018_2['Comment']
y_2 = data_2018_2.drop(['Telkey', 'Comment', '# of codes'], axis=1)

In [10]:
X_trainvalid_2, X_test_2, y_trainvalid_2, y_test_2 = train_test_split(X_2, y_2, test_size=0.20, random_state=42)

In [11]:
X_train_2, X_valid_2, y_train_2, y_valid_2 = train_test_split(X_trainvalid_2, y_trainvalid_2, test_size=0.20, random_state=42)

In [21]:
X_train_2

4548    Addition of the ACYMH Mild to Moderate Outreac...
665           Better Facilities (washroom, work out area)
2674    New Fridge, New Lunchroom, TV in Boardroom, Re...
5896                                            SAFTEY  !
5910               More standardization to the job itself
                              ...
2954    More focus on Recognition and more communicati...
802     greater communication from executive to front ...
4014    I feel that there has been more communication ...
4984    Working to address the space concerns through ...
1164    Better use of project management to prioritize...
Name: Comment, Length: 3853, dtype: object

**Saving files**

In [26]:
# target datasets
y_train_2.to_csv('../../data/y_train_q2.csv', index=False)
# y_valid_2.to_csv('../data/y_valid_q2.csv', index=False)

# explanatory variable - Comments
################################################################################
### CAUTION! these lines save the COMMENTS, which have sensible information. ###
################################################################################
# X_valid_2.to_csv('../data/X_valid_q2.csv', index=False)
# X_train_2.to_csv('../data/X_train_q2.csv', index=False)

### Question 2 - Unsupervised (complete dataset of comments)

In [92]:
# WES 2015, question 2 in the necesary format
data_2018_2['Year'] = 2018
data_2018_2b = data_2018_2[['Telkey', 'Comment', 'Year']]

In [93]:
# WES 2015, question 2
data_2015_2 = pd.read_excel('../../data/WES2015 2nd Qual UNCODED.xlsx', 
                     sheet_name='2015 2nd Qual')  ## change path for data
data_2015_2.rename(columns={'Q4981_11':'Comment',
                            'telkey': 'Telkey'}, inplace=True)
data_2015_2['Year'] = 2015

In [94]:
# WES 2020, question 2
data_2020_2 = pd.read_excel('../../data/WES2020 2nd Qual UNCODED.xlsx', 
                     sheet_name='WES2020 Q4981_11 UNCODED')  ## change path for data
data_2020_2.rename(columns={'AQ4981_11':'Comment',
                            '_telkey': 'Telkey'}, inplace=True)
data_2020_2['Year'] = 2020

In [99]:
# Put databases together for question 2
frames = [data_2020_2, data_2018_2b, data_2015_2]
unsuperv_q2 = pd.concat(frames)

# Saving unsuperv_q2 dataset
#################################################################################
### CAUTION! the next line save the COMMENTS, which have sensible information. ###
##################################################################################
#unsuperv_q2.to_csv('../../data/unsuperv_q2.csv', index=False)

In [100]:
unsuperv_q2

,Telkey,Comment,Year
0,172544-762520,Recognition of products delivered and importance of the ...,2020
1,172550-323842,the refresh -,2020
2,172555-613880,"We have a new Director and managers, who have set a grea...",2020
3,172559-818782,Executive team agreed that they wanted to focus on impro...,2020
4,172561-717770,workplace technology improved and has made off-site work...,2020
...,...,...,...
2340,190835-950578,More open discussion about the old conflicts impacting t...,2015
2341,178502-023518,Employees are encouraged to take courses/training.,2015
2342,191929-903308,Since the last WES there has been an obvious focus on Pr...,2015
2343,178782-259890,We hear more timely information from our executive than ...,2015
2344,174389-493720,There has been a legitimate and appreciated effort to en...,2015

In [101]:
#Carlina's addition to DashR minitries 
unsuperv_q2.to_excel('../../data/bcstatsQ2_unsup.xlsx', index=False)