# Linking Quantiative data Organization Names with Qualitative Comments for DashR

In [117]:
import numpy as np
import pandas as pd
import re

## Question 1

From Karan's excel file for DashR

In [132]:
# set to your directory with data './../data/'

data = pd.read_excel("../../data/bcstats.xlsx")   ## change your path for data
data.tail()

,Telkey,Comment,CPD,CB,EWC,Exec,FEW,SP,RE,Sup,...,VMG_Pay_attention_to_the_public_interest,VMG_Review_funding_or_budget,VMG_Remove_political_influence,VMG_other,OTH_Other_related,OTH_Positive_comments,OTH_Survey_feedback,OTH_Covid,Unrelated,Year
31763,174068564748,Provide an opportunity for colleagues at divis...,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2013
31764,191189704914,increase the human resource support and unfree...,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2013
31765,179820328116,need to implement LEAN measures unnecessary wo...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2013
31766,191669877594,Reduce paper work and bureaucracy. Every year ...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2013
31767,181612565862,"Hiring freeze, wage freeze, executive vision f...",0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2013

In [189]:
data

,Telkey,Comment,CPD,CB,EWC,Exec,FEW,SP,RE,Sup,...,VMG_Pay_attention_to_the_public_interest,VMG_Review_funding_or_budget,VMG_Remove_political_influence,VMG_other,OTH_Other_related,OTH_Positive_comments,OTH_Survey_feedback,OTH_Covid,Unrelated,Year
0,172538-522988,WAGES! We are all very underpaid. It i...,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,2020
1,172540-015050,"With each ""bad"" press news story the organizat...",0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0.0,0.0,2020
2,172550-323842,better seating furniture and office layout,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,2020
3,172553-172324,Is to improve the ventilation system for heati...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,2020
4,172553-986176,Stop hiring based on scenarios. Hire based on...,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31763,174068-564748,Provide an opportunity for colleagues at divis...,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2013
31764,191189-704914,increase the human resource support and unfree...,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2013
31765,179820-328116,need to implement LEAN measures unnecessary wo...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2013
31766,191669-877594,Reduce paper work and bureaucracy. Every year ...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2013
31767,181612-565862,"Hiring freeze, wage freeze, executive vision f...",0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2013

In [183]:
#remove - in Telkey
data['Telkey']= data['Telkey'].astype(str)

#wrangle Telkey values in 2013 to align with rest
data['Telkey'][31080:]= data['Telkey'].str.replace(r'^((?:\D*\d){6})(?=.+)', r'\1-')[31080:]
data.tail()

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Telkey,Comment,CPD,CB,EWC,Exec,FEW,SP,RE,Sup,...,VMG_Pay_attention_to_the_public_interest,VMG_Review_funding_or_budget,VMG_Remove_political_influence,VMG_other,OTH_Other_related,OTH_Positive_comments,OTH_Survey_feedback,OTH_Covid,Unrelated,Year
31763,174068-564748,Provide an opportunity for colleagues at divis...,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2013
31764,191189-704914,increase the human resource support and unfree...,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2013
31765,179820-328116,need to implement LEAN measures unnecessary wo...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2013
31766,191669-877594,Reduce paper work and bureaucracy. Every year ...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2013
31767,181612-565862,"Hiring freeze, wage freeze, executive vision f...",0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,2013

## Import Quantivative Data with organixations

In [164]:
# QUAN 2018
quan_2018 = pd.read_excel("../../data/WES2018 Quant and Driver Data.xlsx", 
                     sheet_name='2018 Quant and Driver data')   ## change your path for data
quan_2018.rename(columns={'telkey':'Telkey'}, inplace=True)
quan_2018['Year'] = 2018
quan_2018 =  quan_2018[['Telkey','ORGANIZATION', 'ORGID']]

In [165]:
# QUAN 2015
quan_2015 = pd.read_excel("../../data/WES2015 Quant and Driver Data.xlsx", 
                     sheet_name='2015 Quant and Driver data')   ## change your path for data
quan_2015.rename(columns={'telkey':'Telkey'}, inplace=True)
quan_2015['Year'] = 2015
quan_2015 =  quan_2015[['Telkey','ORGANIZATION', 'ORGID']]

In [166]:
# QUAN 2020
quan_2020 = pd.read_excel("../../data/WES2020 Quant and Driver Data.xlsx", 
                     sheet_name='2020 Quant and Driver data')   ## change your path for data
quan_2020.rename(columns={'telkey':'Telkey',
                         'ORGANIZATION20': 'ORGANIZATION',
                         'ORGID20': 'ORGID'}, inplace=True)
quan_2020['Year'] = 2020
quan_2020 =  quan_2020[['Telkey','ORGANIZATION', 'ORGID']]

In [181]:
# Put databases together
frames = [quan_2015, quan_2018, quan_2020]
data_all = pd.concat(frames)
# pd.set_option('display.max_colwidth', 60) # <-- to display just the beggining of the comment
#data_all['Telkey']= data_all['Telkey'].str.replace('-','')
data_all=data_all.drop_duplicates(subset='Telkey')
data_all

,Telkey,ORGANIZATION,ORGID
0,172537-844778,Public Safety and Solicitor General,PSSG
1,172537-980420,"Forests, Lands, Natural Resource Operations an...",FLNRORD
2,172538-794272,Public Safety and Solicitor General,PSSG
3,172539-608124,Health,HLTH
4,172540-015050,Children and Family Development,CFD
...,...,...,...
24670,195462-020988,Municipal Affairs and Housing,MAH
24671,195550-323930,Municipal Affairs and Housing,MAH
24672,196001-604864,Municipal Affairs and Housing,MAH
24673,196273-838358,Municipal Affairs and Housing,MAH
24674,196283-468940,Municipal Affairs and Housing,MAH

In [182]:
#example to check data
data_all[data_all['ORGID'] == 'HLTH']

             Telkey ORGANIZATION ORGID
3     172539-608124       Health  HLTH
35    172575-281970       Health  HLTH
38    172576-774032       Health  HLTH
42    172579-351230       Health  HLTH
84    172619-908188       Health  HLTH
...             ...          ...   ...
5227  195865-827222       Health  HLTH
5228  196275-466062       Health  HLTH
5229  196330-129788       Health  HLTH
5236  195398-404890       Health  HLTH
5237  195933-105654       Health  HLTH

[1754 rows x 3 columns]

### Left Joining

In [185]:
#Left join
ministries_Q1 = pd.merge(left=data, right=data_all, how='left', left_on='Telkey', right_on='Telkey')
ministries_Q1.head()

,Telkey,Comment,CPD,CB,EWC,Exec,FEW,SP,RE,Sup,...,VMG_Remove_political_influence,VMG_other,OTH_Other_related,OTH_Positive_comments,OTH_Survey_feedback,OTH_Covid,Unrelated,Year,ORGANIZATION,ORGID
0,172538-522988,WAGES! We are all very underpaid. It i...,0,1,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,2020,Attorney General,AG
1,172540-015050,"With each ""bad"" press news story the organizat...",0,0,0,0,0,0,0,0,...,0,1,0,0,0.0,0.0,0.0,2020,Children and Family Development,CFD
2,172550-323842,better seating furniture and office layout,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,2020,Social Development and Poverty Reduction,SDPR
3,172553-172324,Is to improve the ventilation system for heati...,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,2020,Attorney General,AG
4,172553-986176,Stop hiring based on scenarios. Hire based on...,0,0,0,0,0,1,0,0,...,0,0,0,0,0.0,0.0,0.0,2020,Attorney General,AG

In [187]:
data.shape

(31768, 78)

In [186]:
ministries_Q1.shape

(31768, 80)

## Question 2:
***Just training set***

In [190]:
# set to your directory with data './../data/'

data2 = pd.read_excel("../../data/bcstatsQ2.xlsx")   ## change your path for data
data2.tail()

,Telkey,Comment,N/A,ENG,c_topdown,c_botup,c_other,c_Aware,S&W,TOOLS,A_CarDev,A_EXEC,A_SUP,A_VMG,A_REC&EMP,A_TEAM,A_SP&Jsat&Pay,Other
6017,194963-129712,more training provided for job positions,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
6018,186742-953228,ED 360,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6019,176225-408190,Much of the work place tone is set by manageme...,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1
6020,187475-555670,The improvements made have been in the hiring ...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
6021,187512-721578,EDS works hard to engage/support SDlines in SD...,0,0,1,0,0,0,1,0,1,1,0,1,0,1,0,0

In [191]:
#Left join
ministries_Q2 = pd.merge(left=data2, right=data_all, how='left', left_on='Telkey', right_on='Telkey')
ministries_Q2.head()

,Telkey,Comment,N/A,ENG,c_topdown,c_botup,c_other,c_Aware,S&W,TOOLS,A_CarDev,A_EXEC,A_SUP,A_VMG,A_REC&EMP,A_TEAM,A_SP&Jsat&Pay,Other,ORGANIZATION,ORGID
0,180999-599664,Supervisory development and accountability Rec...,0,0,1,0,0,0,1,1,0,0,1,0,1,1,1,0,Finance,FIN
1,181577-570226,"Expectations, Communication at all levels, eng...",0,0,1,1,0,1,1,0,0,0,0,0,1,1,0,0,Social Development and Poverty Reduction,SDPR
2,187688-377968,"Improved morale, communication, respect, empow...",0,0,0,0,1,0,1,0,1,0,1,0,1,1,0,0,Finance,FIN
3,173821-289382,Organization provided CYMH Clinicians with dat...,0,0,1,0,1,0,0,1,1,0,0,0,1,0,0,0,Children and Family Development,CFD
4,174099-084198,Enhanced Courthouse Security Training - Lockdo...,0,0,0,0,1,1,0,1,1,0,0,0,0,0,1,0,Attorney General,AG

In [192]:
ministries_Q2.shape

(6022, 20)

## **All dataset with Unsupervised comments**

In [194]:
# set to your directory with data './../data/'

data_unsup = pd.read_excel("../../data/bcstatsQ2_unsup.xlsx")   ## change your path for data
data_unsup.tail()

              Telkey                                            Comment  Year
15233  190835-950578  More open discussion about the old conflicts i...  2015
15234  178502-023518  Employees are encouraged to take courses/train...  2015
15235  191929-903308  Since the last WES there has been an obvious f...  2015
15236  178782-259890  We hear more timely information from our execu...  2015
15237  174389-493720  There has been a legitimate and appreciated ef...  2015

In [195]:
#Left join
ministries_Q2_all = pd.merge(left=data_unsup, right=data_all, how='left', left_on='Telkey', right_on='Telkey')
ministries_Q2_all.head()

,Telkey,Comment,Year,ORGANIZATION,ORGID
0,172544-762520,Recognition of products delivered and importan...,2020,Transportation and Infrastructure,TRAN
1,172550-323842,the refresh -,2020,Social Development and Poverty Reduction,SDPR
2,172555-613880,"We have a new Director and managers, who have ...",2020,"Forests, Lands, Natural Resource Operations an...",FLNRORD
3,172559-818782,Executive team agreed that they wanted to focu...,2020,Children and Family Development,CFD
4,172561-717770,workplace technology improved and has made off...,2020,"Forests, Lands, Natural Resource Operations an...",FLNRORD

In [196]:
ministries_Q2_all.shape

(15238, 5)

### Saving excel files

In [197]:
ministries_Q1.to_excel('../../data/bcstatsQ1.xlsx', index=False)
ministries_Q2.to_excel('../../data/bcstatsQ2.xlsx', index=False)
ministries_Q2_all.to_excel('../../data/bcstatsQ2_all.xlsx', index=False)